<div class='card'>
  <div class='card-header'>
    <div class='card-img-top'>
      <img src='{{flags.svg}}' alt='{{name.common}}' width='40' />
    </div>
    <h2 class='card-title'>{{name.official}}</h2>
  </div>
  <div class='card-body'>
    <p class='card-text'>Capital: <span class='card-span'>{{capital}}</span></p>
    <p class='card-text'>Population:
      <span class='card-span'>{{population}}</span></p>
    <p class='card-text'>Languages:
      <span class='card-span'>{{languages}}</span>
      {{!-- {{#each languages}}
        <span class='card-span'>{{@key}}: {{this}}</span>
      {{/each}} --}}
      {{!-- {{#with languages}}
        <span class='card-span'>{{@key}}: {{this}}</span>
      {{/with}} --}}
      {{!-- {{#each languages}}
    {{#with (lookup ../{{this}})~}}
    {{/with}}
{{/each}} --}}
    </p>
  </div>
</div>